/* Body */
body{
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* Custom CSS for hero section */
.hero-section {
    background-color: #f8f9fa; /* Light grey background */
    padding: 100px 0; /* Padding top and bottom */
    text-align: center; /* Center align text */
}

.hero-section h1 {
    font-size: 3rem; /* Large font size */
    margin-bottom: 20px; /* Bottom margin */
}

/* Custom CSS for responsive table */
.table-container {
    overflow-x: auto; /* Enable horizontal scroll */
}

.table {
    width: 100%; /* Table width 100% */
    white-space: nowrap; /* Prevent line breaks */
}

/* Button */
button{
    background:black;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}


/* Resolved Form */
#resolvedForm{
    display: none;
    height: 50%;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}