/* Body */
/* body{
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
} */


/* Honda Logo */
.hondaLogo{
    height: 4.8rem;
    width: auto;
}

.title{
    h1{
        text-transform: uppercase;
        font-weight: bold;
    }
}